app/n8n/workflows/status-notification.template.json
{
  "id": "status-notification-001",
  "name": "Status Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "status-change",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "auto-generated-on-activation"
    },
    {
      "parameters": {
        "url": "=__API_URL__/processes/{{ $json.body.process_id }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "url": "=__API_URL__/users/{{ $('Webhook Trigger').item.json.body.user_id }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "name": "Get User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "url": "=__API_URL__/conversations?channel=telegram",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook Trigger').item.json.body;\nconst processData = $('Get Process').item.json.data;\nconst userData = $('Get User').item.json.data;\nconst conversations = $('Get Conversations').item.json.data || [];\n\nconst userName = userData.first_name || userData.username || 'Cliente';\nconst visaType = processData.visa_type || 'visto';\nconst country = processData.destination_country || '';\nconst reason = webhook.reason || '';\nconst oldStatus = webhook.old_status;\nconst newStatus = webhook.new_status;\n\n// Find telegram chat_id for user\nconst userConv = conversations.find(c => c.user_id === webhook.user_id);\nconst chatId = userConv ? userConv.chat_id : null;\n\n// Generate message based on transition\nconst messages = {\n  'recebido_em_analise': `Ola ${userName}! Seus documentos para visto de ${visaType} para ${country} foram recebidos e estao sendo analisados.`,\n  'em_analise_pendente_documentos': `Ola ${userName}! Precisamos de documentos adicionais para seu visto de ${visaType} para ${country}. Motivo: ${reason}.`,\n  'em_analise_aprovado': `Parabens ${userName}! Seu visto de ${visaType} para ${country} foi aprovado!`,\n  'em_analise_rejeitado': `Ola ${userName}. Seu processo de visto de ${visaType} para ${country} nao foi aprovado. Recomendamos contato com nossa equipe.`,\n  'aprovado_finalizado': `Ola ${userName}! Seu processo de visto de ${visaType} para ${country} foi finalizado com sucesso!`,\n};\n\nconst key = `${oldStatus}_${newStatus}`;\nlet message = messages[key];\n\nif (!message && newStatus === 'cancelado') {\n  message = `Ola ${userName}. Seu processo de visto foi cancelado. Motivo: ${reason}.`;\n}\n\nif (!message) {\n  message = `Ola ${userName}! Seu processo de visto de ${visaType} para ${country} foi atualizado para: ${newStatus}.`;\n}\n\nreturn [{ json: { chatId, message, userId: webhook.user_id, conversationId: userConv ? userConv._id : null } }];"
      },
      "name": "Generate Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.chatId !== null }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has Chat ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $('Generate Message').item.json.chatId }}",
        "text": "={{ $('Generate Message').item.json.message }}",
        "additionalFields": {}
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1750, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $('Generate Message').item.json.conversationId,\n  message_id: 'status-notification-' + Date.now(),\n  user_id: $('Generate Message').item.json.userId,\n  text: $('Generate Message').item.json.message,\n  message_type: 'text',\n  direction: 'outgoing',\n  timestamp: new Date().toISOString(),\n  metadata: { source: 'status-notification' }\n}) }}",
        "options": {}
      },
      "name": "Save Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Notification sent' }) }}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'No chat_id found for user' }) }}"
      },
      "name": "Respond No Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1750, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Process": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Get Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversations": {
      "main": [
        [
          {
            "node": "Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message": {
      "main": [
        [
          {
            "node": "Has Chat ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Chat ID?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Save Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
