app/n8n/workflows/telegram.template.json
{
  "name": "Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "auto-generated-on-activation",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=__API_URL__/users/upsert/{{ $json.message.from.id }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  username: $json.message.from.username,\n  first_name: $json.message.from.first_name,\n  last_name: $json.message.from.last_name,\n  language_code: $json.message.from.language_code,\n  is_bot: $json.message.from.is_bot || false\n}) }}",
        "options": {}
      },
      "name": "Upsert User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "=__API_URL__/conversations/upsert",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_id: $json.data._id,\n  channel: 'telegram',\n  chat_id: String($node['Telegram Trigger'].json.message.chat.id),\n  status: 'active'\n}) }}",
        "options": {}
      },
      "name": "Upsert Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.data.status === 'transferred' }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check if Transferred",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "url": "=__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Upsert Conversation'].json.data._id,\n  message_id: String($node['Telegram Trigger'].json.message.message_id),\n  user_id: $node['Upsert Conversation'].json.data.user_id,\n  text: $node['Telegram Trigger'].json.message.text || '',\n  message_type: $node['Telegram Trigger'].json.message.document ? 'document' : ($node['Telegram Trigger'].json.message.photo ? 'photo' : 'text'),\n  direction: 'incoming',\n  timestamp: new Date($node['Telegram Trigger'].json.message.date * 1000).toISOString()\n}) }}",
        "options": {}
      },
      "name": "Save Message Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 250]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Telegram Trigger'].json.message.document !== undefined || $node['Telegram Trigger'].json.message.photo !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check if File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [950, 500]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $node['Telegram Trigger'].json.message.document ? $node['Telegram Trigger'].json.message.document.file_id : $node['Telegram Trigger'].json.message.photo[$node['Telegram Trigger'].json.message.photo.length - 1].file_id }}",
        "download": true
      },
      "name": "Get File from Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract binary data and convert to base64 for validation\nconst binaryData = $input.item.binary.data;\n\nif (!binaryData) {\n  throw new Error('No binary data found');\n}\n\n// The binary data from Telegram node contains base64 in the 'data' property\nconst base64Data = binaryData.data;\n\n// Store full binary data info in JSON so it can be reconstructed later\n// (binary data is lost when passing through HTTP Request nodes)\nreturn [{\n  json: {\n    imageBase64: base64Data,\n    mimeType: binaryData.mimeType,\n    fileName: binaryData.fileName,\n    fileExtension: binaryData.fileExtension,\n    // Store complete binary info for reconstruction\n    binaryInfo: {\n      data: binaryData.data,\n      mimeType: binaryData.mimeType,\n      fileName: binaryData.fileName,\n      fileExtension: binaryData.fileExtension\n    }\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "name": "Extract Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "url": "__VALIDATION_URL__",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image: $json.imageBase64 }) }}",
        "options": {}
      },
      "name": "Validate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 250]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "={{ 'A imagem do documento não passou na validação: ' + $node['Validate Image'].json.reason }}"
      },
      "name": "Send Validation Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1850, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Upsert Conversation'].json.data._id,\n  message_id: 'bot_validation_' + Date.now(),\n  user_id: $node['Upsert Conversation'].json.data.user_id,\n  text: 'A imagem do documento não passou na validação: ' + $node['Validate Image'].json.reason,\n  message_type: 'text',\n  direction: 'outgoing',\n  timestamp: new Date().toISOString(),\n  metadata: {\n    type: 'validation_error',\n    reason: $node['Validate Image'].json.reason\n  }\n}) }}",
        "options": {}
      },
      "name": "Save Bot Response Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Reconstruct binary data from the JSON saved in Extract Base64\n// (binary data is lost when passing through HTTP Request and IF nodes)\nconst binaryInfo = $node['Extract Base64'].json.binaryInfo;\nconst message = $node['Telegram Trigger'].json.message;\nconst conversation = $node['Upsert Conversation'].json.data;\nconst now = new Date();\n\nlet fileInfo;\nif (message.document) {\n  fileInfo = {\n    file_id: message.document.file_id,\n    file_name: message.document.file_name,\n    file_size: message.document.file_size,\n    mime_type: message.document.mime_type,\n    message_type: 'document'\n  };\n} else if (message.photo) {\n  const photo = message.photo[message.photo.length - 1];\n  fileInfo = {\n    file_id: photo.file_id,\n    file_name: `photo_${photo.file_unique_id}.jpg`,\n    file_size: photo.file_size,\n    mime_type: 'image/jpeg',\n    message_type: 'photo'\n  };\n}\n\nconst timestamp = now.getTime();\nconst fileName = `${fileInfo.file_id}_${timestamp}_${fileInfo.file_name}`;\nconst s3Key = fileName;\n\nreturn [{\n  json: {\n    s3Key: s3Key,\n    fileName: fileInfo.file_name,\n    fileSize: fileInfo.file_size,\n    mimeType: fileInfo.mime_type,\n    messageType: fileInfo.message_type,\n    fileId: fileInfo.file_id,\n    messageId: String(message.message_id),\n    conversationId: conversation._id,\n    userId: conversation.user_id,\n    timestamp: new Date(message.date * 1000).toISOString()\n  },\n  binary: {\n    data: {\n      data: binaryInfo.data,\n      mimeType: binaryInfo.mimeType,\n      fileName: binaryInfo.fileName,\n      fileExtension: binaryInfo.fileExtension\n    }\n  }\n}];"
      },
      "name": "Prepare S3 Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "__S3_BUCKET__",
        "fileName": "={{ $json.s3Key }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "region": "sa-east-1",
        "additionalFields": {
          "contentType": "={{ $json.mimeType }}"
        }
      },
      "name": "Upload to S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [2050, 100],
      "credentials": {
        "aws": {
          "id": "2",
          "name": "AWS Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "=__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Prepare S3 Upload'].json.conversationId,\n  message_id: $node['Prepare S3 Upload'].json.messageId,\n  user_id: $node['Prepare S3 Upload'].json.userId,\n  text: $node['Telegram Trigger'].json.message.caption || '',\n  message_type: $node['Prepare S3 Upload'].json.messageType,\n  direction: 'incoming',\n  timestamp: $node['Prepare S3 Upload'].json.timestamp,\n  metadata: {\n    file_id: $node['Prepare S3 Upload'].json.fileId,\n    file_name: $node['Prepare S3 Upload'].json.fileName,\n    file_size: $node['Prepare S3 Upload'].json.fileSize,\n    mime_type: $node['Prepare S3 Upload'].json.mimeType\n  }\n}) }}",
        "options": {}
      },
      "name": "Save File Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 100]
    },
    {
      "parameters": {
        "url": "=__API_URL__/files",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Prepare S3 Upload'].json.conversationId,\n  message_id: $node['Save File Message'].json.data._id,\n  file_id: $node['Prepare S3 Upload'].json.fileId,\n  s3_bucket: \"__S3_BUCKET__\",\n  s3_key: $node['Prepare S3 Upload'].json.s3Key,\n  original_filename: $node['Prepare S3 Upload'].json.fileName,\n  file_size: $node['Prepare S3 Upload'].json.fileSize,\n  mime_type: $node['Prepare S3 Upload'].json.mimeType,\n  uploaded_at: $node['Prepare S3 Upload'].json.timestamp\n}) }}",
        "options": {}
      },
      "name": "Save File Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "url": "=__API_URL__/processes/telegram/{{ $node['Telegram Trigger'].json.message.from.id }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "name": "Get User Processes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2650, 100]
    },
    {
      "parameters": {
        "jsCode": "const processes = $json.data || [];\nconst fileId = $node['Save File Record'].json.data._id;\n\n// Find an open process (not in final state)\nconst openProcess = processes.find(p => \n  ['recebido', 'em_analise', 'pendente_documentos'].includes(p.status)\n);\n\nif (openProcess) {\n  return [{ json: { hasProcess: true, processId: openProcess._id, fileId } }];\n} else {\n  return [{ json: { hasProcess: false, fileId, userId: $node['Upsert User'].json.data._id } }];\n}"
      },
      "name": "Check Open Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasProcess }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has Open Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3050, 100]
    },
    {
      "parameters": {
        "url": "=__API_URL__/processes/{{ $node['Check Open Process'].json.processId }}/documents",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ file_id: $node['Check Open Process'].json.fileId }) }}",
        "options": {}
      },
      "name": "Associate Doc to Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3250, 0]
    },
    {
      "parameters": {
        "url": "=__API_URL__/processes",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_id: $node['Check Open Process'].json.userId,\n  visa_type: 'a_definir',\n  destination_country: 'A definir'\n}) }}",
        "options": {}
      },
      "name": "Create New Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3250, 200]
    },
    {
      "parameters": {
        "url": "=__API_URL__/processes/{{ $json.data._id }}/documents",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ file_id: $node['Check Open Process'].json.fileId }) }}",
        "options": {}
      },
      "name": "Associate Doc to New Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3450, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "Documento recebido! Estamos processando a classificação..."
      },
      "name": "Send File Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [3650, 100],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Upsert Conversation'].json.data._id,\n  message_id: 'bot_file_' + Date.now(),\n  user_id: $node['Upsert Conversation'].json.data.user_id,\n  text: 'Documento recebido! Estamos processando a classificação...',\n  message_type: 'text',\n  direction: 'outgoing',\n  timestamp: new Date().toISOString(),\n  metadata: {\n    type: 'file_confirmation',\n    file_id: $node['Prepare S3 Upload'].json.fileId\n  }\n}) }}",
        "options": {}
      },
      "name": "Save Bot Response File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3850, 100]
    },
    {
      "parameters": {
        "url": "=__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Upsert Conversation'].json.data._id,\n  message_id: String($node['Telegram Trigger'].json.message.message_id),\n  user_id: $node['Upsert Conversation'].json.data.user_id,\n  text: $node['Telegram Trigger'].json.message.text || '',\n  message_type: 'text',\n  direction: 'incoming',\n  timestamp: new Date($node['Telegram Trigger'].json.message.date * 1000).toISOString()\n}) }}",
        "options": {}
      },
      "name": "Save Text Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 550]
    },
    {
      "parameters": {
        "url": "__NLP_URL__",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: String($node['Telegram Trigger'].json.message.chat.id),\n  text: $node['Telegram Trigger'].json.message.text || '',\n  user_id: $node['Upsert User'].json.data._id,\n  telegram_id: String($node['Telegram Trigger'].json.message.from.id)\n}) }}",
        "options": {}
      },
      "name": "Process NLP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 550]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip_response !== true }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Skip Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 550]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "={{ $node['Process NLP'].json.response }}"
      },
      "name": "Send NLP Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 450],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=__API_URL__/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__API_KEY__"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  conversation_id: $node['Upsert Conversation'].json.data._id,\n  message_id: 'bot_' + Date.now(),\n  user_id: $node['Upsert Conversation'].json.data.user_id,\n  text: $node['Process NLP'].json.response,\n  message_type: 'text',\n  direction: 'outgoing',\n  timestamp: new Date().toISOString(),\n  metadata: {\n    intent: $node['Process NLP'].json.intent\n  }\n}) }}",
        "options": {}
      },
      "name": "Save Bot Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 550]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation": {
      "main": [
        [
          {
            "node": "Check if Transferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Transferred": {
      "main": [
        [
          {
            "node": "Save Message Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File Exists": {
      "main": [
        [
          {
            "node": "Get File from Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Telegram": {
      "main": [
        [
          {
            "node": "Extract Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Base64": {
      "main": [
        [
          {
            "node": "Validate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Image": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Prepare S3 Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Error": {
      "main": [
        [
          {
            "node": "Save Bot Response Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare S3 Upload": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Save File Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Message": {
      "main": [
        [
          {
            "node": "Save File Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Record": {
      "main": [
        [
          {
            "node": "Get User Processes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Processes": {
      "main": [
        [
          {
            "node": "Check Open Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Process": {
      "main": [
        [
          {
            "node": "Has Open Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Open Process?": {
      "main": [
        [
          {
            "node": "Associate Doc to Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Doc to Process": {
      "main": [
        [
          {
            "node": "Send File Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Process": {
      "main": [
        [
          {
            "node": "Associate Doc to New Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Doc to New Process": {
      "main": [
        [
          {
            "node": "Send File Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send File Confirmation": {
      "main": [
        [
          {
            "node": "Save Bot Response File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Text Message": {
      "main": [
        [
          {
            "node": "Process NLP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process NLP": {
      "main": [
        [
          {
            "node": "Check Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip Response": {
      "main": [
        [
          {
            "node": "Send NLP Response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send NLP Response": {
      "main": [
        [
          {
            "node": "Save Bot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "id": "1",
  "meta": {
    "instanceId": "youvisa-n8n"
  },
  "tags": []
}
